@model InteriorDesign.Models.SafetyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SafetyModel</h4>
        <hr />
        <dl class="dl-horizontal" style="background-color:#C0C0C0;border:2px; border-color:blue;color:black;">
            <dt>
                @Html.DisplayNameFor(model => model.AdminLoginIp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AdminLoginIp)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MailPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MailPassword)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
